<?xml version='1.0' encoding='utf-8'?>
<widget id="com.microsoft.bingmapsfleettracker" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Bing Maps Fleet Tracker</name>
    <description>Bing Maps Fleet Tracker</description>
    <author email="bmft@microsoft.com" href="http://aka.ms/BingMapsFleetTracker">Bing Maps Fleet Tracker Team</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="resources/icons/android/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="resources/icons/android/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="resources/icons/android/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="resources/icons/android/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="resources/icons/android/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="resources/icons/android/drawable-xxxhdpi-icon.png" />
        <splash density="land-ldpi" src="resources/screens/android/drawable-land-ldpi-screen.png" />
        <splash density="land-mdpi" src="resources/screens/android/drawable-land-mdpi-screen.png" />
        <splash density="land-hdpi" src="resources/screens/android/drawable-land-hdpi-screen.png" />
        <splash density="land-xhdpi" src="resources/screens/android/drawable-land-xhdpi-screen.png" />
        <splash density="land-xxhdpi" src="resources/screens/android/drawable-land-xxhdpi-screen.png" />
        <splash density="land-xxxhdpi" src="resources/screens/android/drawable-land-xxxhdpi-screen.png" />
        <splash density="port-ldpi" src="resources/screens/android/drawable-port-ldpi-screen.png" />
        <splash density="port-mdpi" src="resources/screens/android/drawable-port-mdpi-screen.png" />
        <splash density="port-hdpi" src="resources/screens/android/drawable-port-hdpi-screen.png" />
        <splash density="port-xhdpi" src="resources/screens/android/drawable-port-xhdpi-screen.png" />
        <splash density="port-xxhdpi" src="resources/screens/android/drawable-port-xxhdpi-screen.png" />
        <splash density="port-xxxhdpi" src="resources/screens/android/drawable-port-xxxhdpi-screen.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="57" platform="ios" src="resources/icons/ios/icon.png" width="57" />
        <icon height="114" platform="ios" src="resources/icons/ios/icon@2x.png" width="114" />
        <icon height="40" platform="ios" src="resources/icons/ios/icon-40.png" width="40" />
        <icon height="80" platform="ios" src="resources/icons/ios/icon-40@2x.png" width="80" />
        <icon height="50" platform="ios" src="resources/icons/ios/icon-50.png" width="50" />
        <icon height="100" platform="ios" src="resources/icons/ios/icon-50@2x.png" width="100" />
        <icon height="60" platform="ios" src="resources/icons/ios/icon-60.png" width="60" />
        <icon height="120" platform="ios" src="resources/icons/ios/icon-60@2x.png" width="120" />
        <icon height="180" platform="ios" src="resources/icons/ios/icon-60@3x.png" width="180" />
        <icon height="72" platform="ios" src="resources/icons/ios/icon-72.png" width="72" />
        <icon height="144" platform="ios" src="resources/icons/ios/icon-72@2x.png" width="144" />
        <icon height="76" platform="ios" src="resources/icons/ios/icon-76.png" width="76" />
        <icon height="152" platform="ios" src="resources/icons/ios/icon-76@2x.png" width="152" />
        <icon height="29" platform="ios" src="resources/icons/ios/icon-small.png" width="29" />
        <icon height="58" platform="ios" src="resources/icons/ios/icon-small@2x.png" width="58" />
        <icon height="87" platform="ios" src="resources/icons/ios/icon-small@3x.png" width="87" />
        <splash height="1136" platform="ios" src="resources/screens/ios/Default-568h@2x~iphone.png" width="640" />
        <splash height="1334" platform="ios" src="resources/screens/ios/Default-667h.png" width="750" />
        <splash height="2208" platform="ios" src="resources/screens/ios/Default-736h.png" width="1242" />
        <splash height="1242" platform="ios" src="resources/screens/ios/Default-Landscape-736h.png" width="2208" />
        <splash height="1536" platform="ios" src="resources/screens/ios/Default-Landscape@2x~ipad.png" width="2048" />
        <splash height="768" platform="ios" src="resources/screens/ios/Default-Landscape~ipad.png" width="1024" />
        <splash height="2048" platform="ios" src="resources/screens/ios/Default-Portrait@2x~ipad.png" width="1536" />
        <splash height="1024" platform="ios" src="resources/screens/ios/Default-Portrait~ipad.png" width="768" />
        <splash height="960" platform="ios" src="resources/screens/ios/Default@2x~iphone.png" width="640" />
        <splash height="480" platform="ios" src="resources/screens/ios/Default~iphone.png" width="320" />
    </platform>
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <allow-navigation href="http://10.104.242.8:8100" />
    <plugin name="ionic-plugin-keyboard" spec="^2.2.1" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.1" />
    <plugin name="cordova-plugin-console" spec="^1.0.5" />
    <plugin name="cordova-plugin-statusbar" spec="^2.2.1" />
    <plugin name="cordova-plugin-device" spec="^1.1.4" />
    <plugin name="cordova-plugin-splashscreen" spec="^4.0.3" />
    <plugin name="cordova-sqlite-storage" spec="^2.0.4" />
    <plugin name="cordova-plugin-network-information" spec="^1.3.3" />
    <plugin name="cordova-plugin-hockeyapp" spec="^2.2.4" />
    <plugin name="phonegap-plugin-barcodescanner" spec="^6.0.8" />
    <plugin name="cordova-plugin-device-name" spec="^1.1.0" />
    <plugin name="cordova-plugin-mauron85-background-geolocation" spec="^2.3.2">
        <variable name="ACCOUNT_TYPE" value="$PACKAGE_NAME.account" />
        <variable name="CONTENT_AUTHORITY" value="$PACKAGE_NAME" />
        <variable name="ALWAYS_USAGE_DESCRIPTION" value="This app requires background tracking enabled" />
        <variable name="MOTION_USAGE_DESCRIPTION" value="This app requires motion detection" />
    </plugin>
    <engine name="android" spec="6.4.0" />
</widget>
