<mat-toolbar>
  <a mat-icon-button mat-tooltip="Back" [routerLink]="['/dispatching']">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span>Dispatch Directions </span>
</mat-toolbar>

<div class="no-directions-alert">
  <p *ngIf="noDirectionsAvailable">No Directions Available</p>
</div>

<mat-list flex>
  <mat-list-item class="item-custom" *ngFor="let direction of directions; let i = index">
    <div class="mat-list-text" (click)=showItineraryPoint(i)>
      <h3>{{direction}}</h3>
      <span>Distance: {{distances[i]}}</span>
    </div>
  </mat-list-item>
</mat-list>